site_name: Патерни проектування
theme:
  name: material
  font:
    text: Merriweather Sans
    code: Roboto Mono
  logo: assets/logo.png
  favicon: assets/favicon.ico
  features:
    - navigation.tabs
    - navigation.tabs.sticky   # опційно: таби прилипають угорі

  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange

extra_css:
  - css/extra.css


markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
            - name: mermaid
              class: mermaid
              format: !!python/name:pymdownx.superfences.fence_code_format

nav:
  - ООП:
    - Основи програмування:
      - Базові типи даних: 
        - Базові типи даних: oop/core/BasicTypes/dataType.md
        - int: oop/core/BasicTypes/int.md
        - double: oop/core/BasicTypes/double.md
      - Типи: 
        - Визначення: oop/core/type.md
        - Члени типів: oop/core/members.md
    - Тести:
      - Вступ: oop/tests/introduction.md
      - Lasagna: oop/tests/lasagna.md

  - Патерни проєктування:
    - Глава 1. SOLID:
        - Open/Closed principle: patterns/chapter1/Open_Closed_Principle.md
    - Глава 2. Породжуючі патерни:
        - Будівельник (Builder): patterns/chapter2/Builder.md
  

